{{import AddGardenForm from "./add-garden-form"}}

Gallery of a user's gardens

{{#if (not this.showForm)}}
  <Button @click={{this.toggle}}>Add a plant</Button>
{{/if}}

{{#if this.showForm}}
  <AddGardenForm />
{{/if}}